// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// * VARIABLES
$bg: linear-gradient(to top right, #3a92af 0%, #5ca05a 100%);
$color: #333;
$height: 400px;
$width: 400px;

* {
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $height;
  width: $width;
  margin-top: calc(#{$height} / 2 * -1);
  margin-left: calc(#{$width} / 2 * -1);
  border-radius: 7px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: $bg;
  color: $color;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  height: 260px;
  width: 300px;
  top: 70px;
  left: 50px;
  background: #fff;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  h1 {
    height: 50px;
    line-height: 50px;
    color: #676767;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
  }

  .card__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    gap: 30px;
  }

  .input__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100px;
    border: 1px dashed lightgray;
    border-radius: 3px;
    user-select: none;
    overflow: hidden;
  }

  .input__container input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  button {
    color: #fff;
    background-color: #6ece3b;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
